<form class="form" name="login" action="/login" method="POST">
  <label id="loginAuth">Email<input class="input" id="loginAuth" name="email" type="email"></label>
  <label id="passAuth">Пароль:<input class="input" id="passAuth" name="password" type="password"></label>
  <button class="btn first" type="submit">Войти</button>
</form>
