<form name="login" action="/login" method="POST">
  <label id="loginAuth">Email<input id="loginAuth" name="email" type="email"></label>
  <label id="passAuth">Пароль:<input id="passAuth" name="password" type="password"></label>
  <button type="submit">Войти</button>
</form>
