<div name='pictureRoute'></div>

<form name="createRoute" method="POST" action="/createRoute">
  <label for="nameRoute">
    Введите название веломаршрута:
    <input id="nameRoute" type='text' name='nameRoute' />
  </label>
  <label for="description">
    Введите описание веломаршрута:
    <input id="description" type='description' name='description' />
  </label>

  <label for="coordinates">
    Введите координаты веломаршрута:
    <input id="coordinates" type='coordinates' name='coordinates' />
  </label>

  <button type="submit">Добавить</button>
</form>
