<div name='pictureRoute'></div>

<form class="form" name="createRoute" method="POST" action="/createRoute">
  <label for="nameRoute">
    Введите название веломаршрута:
    <input class="input" id="nameRoute" type='text' name='nameRoute' />
  </label>
  <label for="description">
    Введите описание веломаршрута:
    <input class="input" id="description" type='description' name='description' />
  </label>

  <label for="coordinates_1">
    Введите координаты A:
    <input class="input" id="coordinates_1" type='coordinates_1' name='coordinates_1' />
  </label>
  <label for="coordinates_2">
    Введите координаты B:
    <input class="input" id="coordinates_2" type='coordinates_2' name='coordinates_2' />
  </label>

  <button class="btn first" type="submit">Добавить</button>
</form>
