<div>
  <style>
    body{
  background-image: url("/img/Фон.jpg");
  background-repeat: no-repeat; 
  background-size: 100%; 
  background-color: aqua;
}
  </style>
</div>

 <div>
        <div class="logo1 log">
            <a href="/">
            <img class="logo1" src="/img/ЛОГО.png" width="180"/>
            </a>
 </div>

 <div class="indexText">
   <h2>Сервис для активных людей,</h1>
   <h2>помогающий найти удобные</h2>
   <h2>маршруты для велопрогулок.</h1>
 </div>
