<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/registration.js"></script>
  {{!-- <script defer src="/js/client.js"></script> --}}
  <script defer src="/js/map-api.js"></script>
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=faa89553-c4e8-4e47-92a5-4cdd9b5212c8&lang=ru_RU" type="text/javascript">
    </script>

  <script defer src="/js/changeRoute.js"></script>

  <script defer src="/js/createRoute.js"></script>
  <script defer src="/js/authentication.js"></script>
  <script defer src="/js/addCard.js"></script>

  <title>Bicycle Walks</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {{#if signedUp}}
        <a class="nav-item nav-link" href="/user" style="font-size: 20px;color: black;margin-right:15px;">
          {{login}} </a>
        <a class="nav-item nav-link" href="/cards">Посмотреть маршруты</a>
        <a class="nav-item nav-link" href="/logout">Выйти</a>
        {{else}}
        <a class="nav-item nav-link" href="/registration">Регистрация</a>
        <a class="nav-item nav-link" href="/authentication">Авторизация</a>
        <a class="nav-item nav-link" href="/cards">Посмотреть маршруты</a>
        {{/if}}
      </div>
    </nav>
    <div> 
      <form name="map_route" action="/" method="POST">
  <label id="a-id">А:<input id="a-id" name="a" type="text"></label>
  <label id="b-id">Б:<input id="b-id" name="b" type="text"></label>
  <button type="submit">Задать</button>
</form>
    <div id="map" style="width: 600px; height: 400px"></div></div>
  </header>
  {{{ body }}}
</body>

</html>
