<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/registration.js"></script>
  <script defer src="/js/client.js"></script>
  <script defer src="/js/changeRoute.js"></script>
  <title>Bicycle Walks</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {{#if signedUp}}
        <a class="nav-item nav-link" href="/" style="font-size: 20px;color: black;margin-right:15px;">
          {{login}} </a>
        <a class="nav-item nav-link" href="/newParty">Посмотреть маршруты</a>
        <a class="nav-item nav-link" href="/logout">Выйти</a>
        {{else}}
        <a class="nav-item nav-link" href="/registration">Регистрация</a>
        <a class="nav-item nav-link" href="/authentication">Авторизация</a>
        {{/if}}
      </div>
    </nav>
  </header>
  {{{ body }}}
</body>

</html>
