<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/registration.js"></script>
  <script defer src="/js/client.js"></script>
  <title>Bicycle Walks</title>
</head>

<body>
  <header>
    <nav>
      <div>
        <a href="/registration">Register</a>
        <a href="/login">Login</a>
      </div>
    </nav>
  </header>
  {{{ body }}}
</body>

</html>
