<form name="registrationForm" method="POST" action="/registration">
  <label for="username">
    Введите имя пользователя:
    <input id="username" type='text' name='username' />
  </label>
  <label for="email">
    Введите email:
    <input id="email" type='email' name='email' />
  </label>

  <label for="password">
    Введите пароль:
    <input id="password" type='password' name='password' />
  </label>

  <label for="passwordRep">
    Подтвердите пароль:
    <input id="passwordRep" type='password' name='passwordRep' />
  </label>
  <button type="submit">Зарегистрироваться</button>
</form>
