<form  class="form" name="registrationForm" method="POST" action="/registration">
  <label for="username">
    Введите имя пользователя:
    <input class="input" id="username" type='text' name='username' />
  </label>
  <label for="email">
    Введите email:
    <input class="input" id="email" type='email' name='email' />
  </label>

  <label for="password">
    Введите пароль:
    <input class="input" id="password" type='password' name='password' />
  </label>

  <label for="passwordRep">
    Подтвердите пароль:
    <input class="input" id="passwordRep" type='password' name='passwordRep' />
  </label>
  <button class="btn first" type="submit">Зарегистрироваться</button>
</form>
