<div class="routes">
  <div>
  </div>
  <p>Описание</p>
  <button id="deleteButton" type="submit">Удалить маршрут</button>
  <a href="/changeForm"><button id="changeButton" type="submit">Изменить маршрут</button></a>
</div>
